---
const {eventName, artistName, eventInfo, artistInfo, additionalInfo, artistWebsite, artistSoMe, credits} = Astro.props;
---

<article>
    <div class="event-text-container">
        <slot />
        <h3>{eventName}</h3>
        <h4>{artistName}</h4>
        <p class="eventinfo">{eventInfo}</p>
        <p class="artistinfo">{artistInfo}</p>
        <p>{additionalInfo}</p>
        <p class="link">{artistWebsite}</p>
        <p class="link">{artistSoMe}</p>
        <p class="thanks">{credits}</p>
        <!-- Indsæt tilbage til program knap her eller til venstre i toppen -->
    </div>
</article>

<style>
    .eventinfo {
        color: #4076F7;
        font-size: 1.7rem;
    }

   

    .thanks {
        color: #BE3CDF;
        font-size: 1.3rem;
        text-align: right;
    }

    .link {
        font-size: 1.2rem;
        color: #AAAEC7;
        text-align: center;
        
    }
    h3{
        text-align: center;
        font-size: 30px;
        background: linear-gradient(
      to right,
      #4076f7 0%,
      #e9b06e 50%,
      #be3cdf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: moveColors 3s infinite;
  }
    
    h3, h4, p{
        margin: 20px 0;
    }

    slot{
        width: 700px;
    }
    .img-container{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .event-text-container{
        max-width: 50%;
    }

    .artistinfo {
        font-family: "termina", sans-serif;
font-weight: 400;
font-style: normal;
color: #E0EBF9;
font-size: 1.1rem;
    }

    @media(max-width:1080px){
        .event-text-container{
        max-width: 70%;
    }
    }

    @media(max-width:780px){
        .event-text-container{
        max-width: 90%;
    }
    }

</style>